#hr1 {
    border: 1px solid black;
    width: 85%;
}

.back-arrow {
    position: absolute;
    height: auto;
    width: 2rem;
    top: 4%;
    left: 3%;
}

.back-arrow:hover {
    color: rgb(75, 75, 75);
    cursor: pointer;
}

.back-arrow:active {
    color: rgb(129, 129, 129);
    cursor: pointer;
}

#project-title-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: end;
    margin-bottom: 0;
}

#project-title-container h1,
#project-title-container h3 {
    margin-bottom: 0;
    margin-left: 1em;
}

#title-left {
    display: flex;
}

#main-content {
    width: 100%;
    display: flex;
}

#main-content h2 {
    margin-left: .5em;
    margin-bottom: .5em;
}

#current-tasks-container {
    flex: 1;
    margin: 0;
    margin-left: 3rem;
    margin-right: clamp(1rem, calc(1vw + .5rem), 3rem);
    max-width: calc((100% - 8rem) / 2);
}

.task-list {
    position: relative;
    list-style: none;
    padding: .5em 0 0 0;
    margin-top: 0;
    margin-bottom: 0;
    max-height: 17em;
    overflow: auto;
    /* background-color: green; */
}

.task-hr {
    margin-top: 0;
    height: 2px;
    border: none;
    background-color: gray;
}

.task {
    display: flex;
    position: relative;
    /* border: 1px solid black; */
    border-radius: 1em;
    /* width: 80%; */
    padding: 0 1em;
    margin-bottom: 1em;
    align-items: center;
    background-color: rgb(165, 229, 250);
    width: 92.5%;
    max-width: 35rem;
}

.task[data-top='false']::after {
    content: attr(data-text);
    position: absolute;
    display: none;
    top: -80%;
    left: 0;
    background-color: white;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
}

.task[data-top='true']::after {
    content: attr(data-text);
    position: absolute;
    display: none;
    top: 80%;
    left: 0;
    background-color: white;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    z-index: 1;
}

.task:hover.task::after {
    display: block;
}

.task p {
    font-size: 1.2rem;
    max-width: 80%;
    margin-right: 5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task h6 {
    font-size: 1rem;
    margin: 0;
}

.created-date-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: 1em;
}

.current-task {
    position: relative;
    justify-content: space-between;
}

.current-task:hover {
    cursor: pointer;
    background-color: rgb(188, 234, 250);
}

.completed-task {
    position: relative;
}

.task-options-button {
    position: absolute;
    height: auto;
    width: 1.5em;
    right: -0.5em;
    top: -0.5em;
    padding: 0;
    background-color: lightgray;
    border-radius: 1em;
    transition: background-color .25s ease;
}

.task-options-button:hover {
    background-color: rgb(185, 185, 185);
}

.task-options-button:focus {
    background-color: rgb(155, 155, 155);
}

#options-menu-container {
    display: none;
    position: absolute;
    border-radius: 1em;
    box-shadow: -0.3em .3em 1em gray;
    height: 5em;
    width: 5em;
    top: 1.8em;
    right: 0;
    background-color: rgb(236, 236, 236);   
    z-index: 1;
}

#options-menu-container.visible {
    display: block !important;
}

#options-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

#options-menu li {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#delete-li {
    border-radius: 0 0 .9em .9em;
}

#delete-li:hover {
    background-color: rgb(255, 34, 34);
    cursor: pointer;
}

.mark-incomplete-btn {
    position: absolute;
    bottom: -1em;
    right: 0;
    width: 6em;
    border: 1px solid black;
    border-radius: 1em;
    transition: background-color .25s ease, border .25s ease, color .25s ease;
}

.mark-incomplete-btn:hover {
    cursor: pointer;
    background-color: red;
    color: white;
    border: 1px solid red;
}

.mark-incomplete-btn:active {
    transition: none;
    cursor: pointer;
    background-color: rgb(255, 70, 70);
    color: white;
    border: 1px solid rgb(255, 70, 70);
}

#completed-tasks-container {
    flex: 1;
    margin: 0;
    margin-left: clamp(1rem, calc(1vw + .5rem), 3rem);
    margin-right: 2rem;
    max-width: calc((100% - 8rem) / 2);
}

.checkbox-container {
    display: inline-flex;
    align-items: center;
}

.checkbox-container:hover {
    cursor: pointer;
}

.checkbox-container input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.checkmark {
    width: 18px;
    height: 18px;
    border: 2px solid #333;
    border-radius: 4px;
    background-color: white;
    transition: background-color 0.2s;
}

.checkbox-container input:checked + .checkmark {
  background-color: #333 !important;
}

#buttons {
    margin-top: auto;
    margin-bottom: 1em;
}

#buttons button {
    padding: 1.5em 2em;
    margin: .5em;
    border: 2px solid black;
    border-radius: 1em;
    font-size: .9em;
    font-weight: bold;
}

#buttons button:hover {
    cursor: pointer;
    border: none;
}

#buttons button:disabled {
    border: 2px solid black !important;
    background-color: lightgray;
    cursor: auto;
}

#create-task-btn {
    background-color: rgb(101, 195, 226);
    border: 2px solid rgb(101, 195, 226) !important;
    transition: background-color .25s ease, border .25s ease;
}

#create-task-btn:hover {
    background-color: rgb(154, 223, 247);
    border: 2px solid rgb(154, 223, 247) !important;
}

#create-task-btn:active {
    transition: none;
    background-color: rgb(191, 239, 255);
    border: 2px solid rgb(191, 239, 255) !important;
}

#delete-btn {
    background-color: transparent;
    transition: background-color .25s ease, border .25s ease;
}

#delete-btn:hover {
    background-color: rgb(255, 16, 16);
    border: 2px solid rgb(255, 16, 16) !important;
}

#delete-btn:active {
    transition: none;
    background-color: rgb(255, 100, 100);
    border: 2px solid rgb(255, 100, 100) !important;
}

#mark-complete-btn {
    background-color: transparent;
    transition: background-color .25s ease, border .25s ease;
}

#mark-complete-btn:hover {
    /* background-color: rgb(70, 253, 70); */
    background-color: rgb(38, 219, 38);
    border: 2px solid rgb(38, 219, 38) !important;
}

#mark-complete-btn:active {
    transition: none;
    background-color: rgb(111, 255, 111);
    border: 2px solid rgb(111, 255, 111) !important;
}

#create-task-window {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 20em;
    width: 30em;
    background-color: rgb(224, 247, 255);
    top: 50%;
    left: 50%;
    border: 2px solid black;
    border-radius: 1em;
    box-shadow: 
        0 10px 25px rgba(0, 0, 0, 0.15),
        0 5px 10px rgba(0, 0, 0, 0.08);
    z-index: 1;
    transform: translate(-50%, -50%);
}

#create-task-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#create-task-form label {
    font-size: 1.2em;
}

#create-task-form button {
    margin-top: 4em;
    padding: 1em 2em;
    border: 2px solid black;
    border-radius: 1em;
    background-color: white;
    transition: background-color .25s ease, border .25s ease;
}

#create-task-form button:hover {
    cursor: pointer;
    background-color: rgb(101, 195, 226);
    border: 2px solid rgb(101, 195, 226);
}

#create-task-form button:active {
    transition: none;
    background-color: rgb(173, 235, 255);
    border: 2px solid rgb(173, 235, 255);
}

.text-field {
    margin-left: 1em;
    height: 2em;
    width: 15em;
    border-radius: 1em;
    border: 1px solid black;
    background-color: rgb(231, 231, 231);
}

.check-label {
    font-size: 1em !important;
    /* margin-right: 1em !important; */
}

.check-label input {
    margin: 0;
}

#master-label {
    display: flex;
    margin-top: 1em;
}

#master-label input {
    margin-left: .3em;
}

#options {
    display: flex;
    width: 9.7em;
    margin-left: 1em;
    margin-right: 1em;
    justify-content: end;
}

#continuous-label {
    margin-left: 1em;
}

.close-window-btn {
    height: auto;
    width: 1.5em;
    align-self: flex-end;
    margin-right: .5em;
    margin-top: .1em;
}

.close-window-btn:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.close-window-btn:active {
    background-color: rgb(255, 100, 100);
    color: white;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

button:disabled {
    background-color: gray !important;
    border-color: gray !important;
    cursor: default !important;
}

/* MEDIA QUERIES */
@media(max-width: 1080px) {
    #main-content {
        flex-direction: column;
        /* background-color: green; */
    }

    #current-tasks-container,
    #completed-tasks-container {
        max-width: none;
    }

    .task {
        max-width: none;
    }

    #completed-tasks-container,
    #current-tasks-container {
        margin-left: 3rem;
        margin-right: 1rem;
    }

    .back-arrow {
        top: 3%;
    }

    .task:hover.task::after {
        display: none;
    }
}

@media(max-width: 900px) {
    #title-left {
        /* background-color: green; */
        flex-direction: column;
    }

    #title-left h3 {
        margin-top: 0;
    }

    /* .back-arrow {
        top: 0;
    } */
}

@media(max-width: 650px) {
    #title-left {
        /* background-color: green; */
        flex-direction: row;
        margin-right: auto;
        margin-left: 1rem;
    }

    .task p {
        max-width: 15rem;
    }

    #project-title-container {
        flex-direction: column;
        /* background-color: aqua; */
    }

    #project-title-container h1 {
        margin-right: auto;
    }
}

@media(max-width: 550px) {
    #title-left h3 {
        /* background-color: green; */
        font-size: 1rem;
    }
}
