@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  margin: 0;
  background-color: rgb(101, 195, 226);
  font-family: Inter;
  /* background-color: rgb(192, 192, 192); */
}
