#main-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    width: 80em;
    height: 32em;
    border-radius: 1em;
    background-color: rgb(243, 252, 255);
}

